<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="main-content">
        {{>header}} {{!-- this is to load a partial or header must add it in this formart {{>nameofpartialfile}} --}}
        <p>{{helptext}}</p>
    </div>  

    {{>footer}}
</body>


</html>